body {
    background-color: lightsalmon;
}

nav {
    display: inline-block;
}

nav.ul {
    width: 100px;
}

.Hero-sect {
    background-color: azure;
    width: 100%;
    text-align: center;
    
}